%% == Core ==
%% Additional library directories to add to the code path
{lib_dirs, ["libs"]}.

%% Erlang compiler options
{erl_opts, [ {i, "../shared/include"},
			 {i, ".."},
             {parse_transform, lager_transform}]}.


{post_hooks, [
  {"linux|darwin", compile, "echo compile done"}
]}.

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.
{deps, [
      {lager, "3.6.6"},
      {'goldrush',  ".*", { git, "git://github.com/DeadZen/goldrush.git", "master"} },
      {'uuid',   ".*",        { git, "git://github.com/avtobiff/erlang-uuid.git", "master"} },
      {'cowboy', ".*",     { git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}},
      {'windforce', ".*", {git, "git://github.com/lyricssorceress/windforce.git", "master"}},
      {gproc, "0.8.0"}
     ]}.

%% == xref == cross reference

{xref_warnings, true}.

%% == plugins ==

%%{plugin_dir, "deps/rebar_plugins/"}.
%%{plugins, [espec_plugin]}.

%% espec
{espec, [{dir, "spec"}]}.

{relx, [
  {release, {skye, "1.0"}, [skye]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {sys_config, "config/app.config"}
]}.

{deps_error_on_conflict, true}. %%
